.chat-container {
  max-width: 90vw;
  margin: auto;
  font-family: Arial, sans-serif;
}

.chat-body {
  height: 90vh;
  overflow: scroll;
}

.user {
  text-align: right;
  color: rgb(20, 20, 184);
}

.bot {
  text-align: left;
  color: rgb(13, 70, 13);
}

.input-area {
  display: flex;
  margin-top: 10px;
}

input {
  flex: 1;
  padding: 8px;
}

button {
  padding: 8px 12px;
}

.loading {
  font-style: italic;
  color: gray;
}
